.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-form .field-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.login-form-wrapper-components {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  width: 25rem;
}

.login-form input {
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 4px;
}

.login-form input:-webkit-autofill,
.login-form input:-webkit-autofill:hover,
.login-form input:-webkit-autofill:focus,
.login-form input:-webkit-autofill:active {
  -webkit-text-fill-color: var(--black-or-white) !important;
  caret-color: var(--black-or-white) !important; /* Adiciona esta linha */
  transition: background-color 5000s ease-in-out 0s;
}

.login-form button:not(.adornment-end) {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}
