.roles-wrapper {
  display: flex;
  justify-content: space-between;
}

.role-actions {
  display: flex;
  flex-direction: row;
  height: 100%;
  gap: 10px;
  margin-left: auto;
}

.role-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-width: 100%;

  td {
    text-align: center;
  }
}
